html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	overflow-x:auto;
	overflow-y:auto;
	min-height: 600px;
}

#fileselect
{position:absolute; top:-100px;}​

#wrapper {
	height: 100%;
	margin-bottom: -60px;
/* the bottom margin is the negative value of the footer's height */
}


#main {
	font-family:sans-serif;
	font-size:medium;
	text-align:left;
	background:#fff;
	padding:10px;
}

#header {
	vertical-align:middle;
	display:inline;
	white-space:nowrap;
}

#header .sharing {
	margin-top:10px;
	margin-bottom:10px;
}

#newtpl {
	text-align:center;
}

#header img {
	vertical-align:middle;
	display:inline;
	border:solid 2px transparent;
	opacity:1;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out;
}

#header button {
	opacity:1;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out;
}

#header img:hover {
	opacity:.8;
}

#header button {
	vertical-align:middle;
	display:inline;
}


#images {
	max-width:800px;
	overflow-x:show;
	overflow-y:hidden;
	text-align:center;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}

#images .imagescontainer {
	width:20000px;
}

#images .imagescontainer div {
	float:left;
}

#images img {
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 20px
}

button {
	font-family:Arial,Helvetica,sans-serif;
	margin-left:50px;
	margin-right:50px;
	font-size:25px;
	color:#fff;
	width:150px;
	height:50px;
	background:-moz-linear-gradient(top,#ff2819 0%,#ab0000);
	background:-webkit-gradient(linear,left top,left bottom,from(#ff2819),to(#ab0000));
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #7d0000;
	-moz-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	text-shadow:0 -1px 0 rgba(000,000,000,0.4),0 1px 0 rgba(255,255,255,0.3);
}


#dropzone {
	border:2px dashed grey;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	font-family:sans-serif;
	font-size:larger;
	color:#000;
	background:#fff;
	opacity: 0.8;
	margin:0 auto;
	margin-top:20px;
	max-width: 600px;
}

#spinner {
position:absolute;
left:0px;
top:0px;
z-index:2000;
width: 100%;
height: 600px;
display: none;
}