html,body {
	height:100%;
	width: 100%;
	text-align: center;
}

.wrapper {
	font-family: sans-serif;
	font-size: medium;
}

.push {
	height: 25px;
}

.footer {
	height: 25px;
	font-family: sans-serif;
	font-size:small;
}

.footer>a {
	color:#000;
	text-decoration:none;
}

#dropzone {
	border:2px dashed grey;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	font-family:sans-serif;
	font-size:larger;
	color:#000;
	background:#fff;
	opacity: 0.8;
	margin:0 auto;
	max-width: 800px;
}

#files, #text, #textedit, #url, #dropbox {
	display: none;
	margin: 10px;
}

#text { 
	margin:0 auto;
	max-width: 800px;
	text-align: left;
}

#header {
	vertical-align:middle;
	display:inline;
	white-space:nowrap;
}

#header .sharing {
	padding-top: 5px;
	padding-bottom:5px;
}

#newtpl {
	text-align:center;
}

#header img {
	vertical-align:middle;
	display:inline;
	border:solid 2px transparent;
	opacity:1;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out;
}

#header button {
	opacity:1;
	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out;
}

#header img:hover {
	opacity:.8;
}

#header button {
	vertical-align:middle;
	display:inline;
}

#images {
	text-align: center;
}

#images ul {
  max-width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#images li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden; /* without this, the layout breaks in FF too */
}

#images li img {
	padding-bottom: 10px;
	padding-top: 10px;
	max-width: 500px;
	max-height: 500px;
}


button.navigate {
	font-family:Arial,Helvetica,sans-serif;
	margin-left:50px;
	margin-right:50px;
	font-size:25px;
	color:#fff;
	width:150px;
	height:50px;
	background:-moz-linear-gradient(top,#ff2819 0%,#ab0000);
	background:-webkit-gradient(linear,left top,left bottom,from(#ff2819),to(#ab0000));
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #7d0000;
	-moz-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	box-shadow:0 1px 3px rgba(000,000,000,0.5),inset 0 0 2px rgba(255,255,255,0.7);
	text-shadow:0 -1px 0 rgba(000,000,000,0.4),0 1px 0 rgba(255,255,255,0.3);
}


#spinner {
position:absolute;
left:0px;
top:0px;
z-index:2000;
width: 100%;
height: 600px;
display: none;
}


#fileselect
{position:absolute; top:-100px;}​
