body {
    text-align:center;
    font-family: sans-serif;
	font-size: large;
	  overflow-x: hidden;
	  overflow-y: auto;
  }

.sharing {
	width: 300;
	overflow: hidden;
	white-space:nowrap;
	display: inline;
}

.sharing img {
	vertical-align: middle;	
	display: inline-block;
}



ul.images {
  margin: 0;
 padding-top: 20px;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
ul.images li {
  display: inline;
  padding: 50px;
}


input {
        font-family: sans-serif;
        font-size: large;
        
        
        border-radius:10px;
        width: 300px;
        height: 30px;	
        text-align: center	        
    }
    

input:focus {
	outline:none;
}


.input-file {
	
	width: 230px;
	
}

select {
	padding: 20px;
            font-family: sans-serif;
    font-size: large;
    border-radius:10px;
    width: 300px;
    height: 30px;	
    text-align: center	        
}


button {
        background-color:#fc8d83;
        
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        
        border:0px solid #d83526;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:20px;
        font-weight:bold;
        padding:5px 5px;
        text-decoration:none;
        
    }
    .button:hover {
        
        background-color:#e3695d;
    }

