<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Blurb.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="custom.css" rel="stylesheet" type="text/css">
</head>

<body>
   
<header>

<a id="home" href="http://local.blurb.io:4567/">Blurb.io</a>
<a id="new" href="http://local.blurb.io:4567/#new/">New Blurb</a>
</header>
    
   
    
<!-- BODY ID WHERE TEMPLATES WILL BE INSERTED -->

<div id="main"></div>
    
   
   
    
    
    <!-- NEWVIEWTPL -->
    <script type="text/template" id="newviewtpl">
      
    	<p>Your URL will be <a href="http://local.blurb.io:4567/#/<%= uid %> ">http://local.blurb.io:4567/#/<%= uid %> </a></p>
      <p>         <textarea class="input" id="title" rows="5"></textarea></p>
      <p>Max 5 images</p>
      <p><input class="input-file" id="files" type="file" multiple="mutiple"></p>
    
    <div class="carousel">
    	<ul class="images"> </ul>
    </div>
    
    <button class='next'> &laquo; </button>
    <button class='prev'> &raquo; </button>
<p><button type="submit" class="btn" id="render">Render slideshow</button></p>
<p><button type="submit" class="btn" id="create">Post Blurb</button></p>


    </script>
    
    
    <!-- CAROUSELITEMTPL -->
    <script type="text/template" id="imagetpl">
	<li><img src="<%= data %>" alt=""/></li>
     </script>
    
    
    <!-- HOMEVIEWTPL -->
    <script type="text/template" id="homeviewtpl">


        <h1>Welcome!!!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
       
    </script>
    
    
    <!-- BLURBVIEWTPL -->
    <script type="text/template" id="blurbviewtpl">
    <p>The title is : <%= title %></p>

    
    
    </script>
<!-- Libs -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script><script type="text/javascript" src="http://static.stackmob.com/js/json2-min.js">
</script><script type="text/javascript" src="http://static.stackmob.com/js/underscore-1.3.3-min.js">
</script><script type="text/javascript" src="http://static.stackmob.com/js/backbone-0.9.2-min.js">
</script><script type="text/javascript" src="http://static.stackmob.com/js/2.5.3-crypto-sha1-hmac.js">
</script><script type="text/javascript" src="http://static.stackmob.com/js/stackmob-js-0.5.5-min.js">
</script><script type="text/javascript">
StackMob.init({
    appName: "blurb",
    clientSubdomain: "jensmunch",
    publicKey: "b8896bb5-aade-4789-95d5-e3e1b52e481d",
    apiVersion: 0
    });
    </script><!-- Load App -->
    <script src="app/utils.js" type="text/javascript">
</script><script src="app/models.js" type="text/javascript">
</script><script src="app/views.js" type="text/javascript">
</script><script src="app/router.js" type="text/javascript">
</script>

</script>
</body>
</html>
